{% extends "admin_base.html" %}
{% block content %}
<h1>Manage Users</h1>
{% if users %}
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email Address</th>
                <th>Status</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user[1] }}</td> <!-- Username -->
                <td>{{ user[2] }}</td> <!-- Email Address -->
                <td>{{ 'Verified' if user[3] else 'Not Verified' }}</td> <!-- Verification Status -->
                <td>{{ 'Admin' if user[4] else 'User' }}</td> <!-- Role -->
                <td>
                    <form action="{{ url_for('routes.update_user_role', user_id=user[0]) }}" method="POST">
                        <select name="new_role" class="form-control">
                            <option value="user" {% if not user[4] %}selected{% endif %}>User</option>
                            <option value="admin" {% if user[4] %}selected{% endif %}>Admin</option>
                        </select>
                        <button type="submit" class="btn btn-primary mt-2">Update Role</button>
                    </form>
                    <form action="{{ url_for('routes.delete_user', user_id=user[0]) }}" method="POST" class="mt-2">
                        <button type="submit" class="btn btn-danger">Delete User</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No users found.</p>
{% endif %}
{% endblock %}
